GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
NEXT_PUBLIC_KEYCLOAK_BASE_URL=http://localhost:8080
NEXT_PUBLIC_KEYCLOAK_REALM=jbpm-realm
NEXT_PUBLIC_KEYCLOAK_CLIENT_ID=react-app
KEYCLOAK_TOKEN_ISSUER=http://keycloak:8080/realms/jbpm-realm
